#boards {
    position: relative;
    height: 500px;
    width: 700px;
    margin: auto;
}

#inputCanvas {
    pointer-events: none;    
}

canvas {
    position: absolute;
    display: block;
    border: 3px solid #000000;
}